In [3]:
import pandas as pd

In [11]:
file_path = '/Users/johndunn/Downloads/OPSF_2024_07_01/OPSF_2024-07-01.csv'

In [12]:
# read data
df = pd.read_csv(file_path)

/var/folders/0t/q156bn497w3gz77dwxvjy07c0000gn/T/ipykernel_73997/1305645370.py:2: DtypeWarning: Columns (2,8,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [13]:
df.shape

(660032, 33)

In [ ]:
df.info()

In [15]:
df.head()

,providerCcn,effectiveDate,nationalProviderIdentifier,fiscalYearBeginDate,exportDate,terminationDate,waiverIndicator,intermediaryNumber,providerType,specialLocalityIndicator,...,deviceCostToChargeRatio,countyCode,paymentCbsa,paymentModelAdjustment,medicarePerformanceAdjustment,supplementalWageIndexIndicator,supplementalWageIndex,lastUpdated,carrierCode,localityCode
0,001500,20220407,1578220653,20220407.0,20240701,NaN,N,6014,35,,...,0.0,4013.0,NaN,1.0,NaN,,0.0,20220727,3102.0,0.0
1,001500,20221001,1578220653,20220407.0,20240701,NaN,N,6014,35,,...,0.0,4013.0,NaN,1.0,NaN,,0.0,20221115,3102.0,0.0
2,001500,20231001,1578220653,20220407.0,20240701,NaN,N,6014,35,,...,0.0,4013.0,,1.0,NaN,,0.0,20231003,3102.0,0.0
3,001501,20220211,1326631656,20220211.0,20240701,NaN,N,6014,35,,...,0.0,4013.0,NaN,1.0,NaN,,0.0,20220822,3102.0,0.0
4,001501,20231001,1326631656,20230101.0,20240701,20240404.0,N,6014,35,,...,NaN,4013.0,NaN,1.0,NaN,,0.0,20240604,3102.0,0.0

In [ ]:
columns = list(df.columns)
columns

In [ ]:
for col in columns:
    # get rows where a col in None
    df[[df[col]]]